header {
    display: flex;
    justify-content: space-between;

}

header div {
    display: flex;
    flex-flow: row;
    align-items: center;
}



img {
    margin-top: 0px;
    width: 5vw;
    border-radius: 100%;
}

#logo {
    width: 300px;
}

#profile {
    align-self: flex-start;
}

#header{
    position: relative;
    bottom: 70px;
}
