ul {
    display: flex;
flex-flow: row wrap;
}

li {
    display: flex;
    flex-flow: column wrap;
    max-width: 25vw;
    border: solid black 2px;
    text-align: center;
}

li img{
    width: 100px;
}